body {
    background: none !important;
}

#container {
    background-image: url("img/agentorange.jpg");
    display: none;
    box-shadow: 10px 5px 5px black;
    margin-top: 5rem;
    border-radius: 0.4rem;
    opacity: 0.9;
}

#header-style {
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    align-items: flex-end;
    justify-content: flex-end;
}

#card-options {
    display: flex;
    margin-top: 0.5rem;
    padding: 9.5rem;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    opacity: 0.9;
}

.card:hover {
    box-shadow: 10px 10px 10px black;
}

.spacer {
    margin: 1rem;
}

.modal {
  background-image: url("img/agentorange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}